#areaProduto, html {
    background-color: var(--color-background);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#bodyProduto {
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--color-body);
}

#areaProduto #bodyProduto .form-Produto {
    display: flex;
    align-items: center;
    justify-content: center;
}

#areaProduto #bodyProduto .form-Produto .borda-interna {
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

#areaProduto #bodyProduto .Produto {
    height: auto;
    width: 130%;
    margin-left: -5%;
    margin-right: -5%;
    background: var(--color-text-primary);
    box-shadow: 1px 1px 2px 1px var(--color-detail);
    color: black;
}

#tituloPag {
    background-color: var(--color-button);
    flex: 1;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin-top: 0;
}

@media(min-width: 800px) {
    #bodyProduto {
        height: 100vh;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    #areaProduto #bodyProduto .Produto {
        height: auto;
        width: 140%;
        margin-left: -20%;
        margin-right: -20%;
    }
}