#teste {
    font-size: 20px;
    color: blue;
}

td {
    width: 25%;
    padding-left: 2%;
    border: 2px solid black;
}

#tabela, #total {
    width: 100%;
    border-color: black;
    border-collapse: collapse;
    font-size: large;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid black;
    padding-left: 2%;
}

#total {
    font-weight: bold;
}