#menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.0rem 1rem;
}
#menu .pesquisa {
    float: center;
    padding-top: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menu input {
    border-radius: 4px;
    box-shadow: 1px 1px 2.5px var(--color-detail);
    border:1px solid #FFFFFF;
    width:48rem;
    height: 2.6rem;
    font-size: 1.4rem;
    color: #000000;
}
#menu button {
    width: 4rem;
    height: 2.6rem;
    margin-left: 0.5rem;
    border-radius: 4px;
    background-color: var(--color-button);
    color: var(--color-text-primary);
    font-size: 1rem;
    border:0.5px solid #FFFFFF;
    box-shadow: 1px 1px 1px var(--color-detail);
}
#menu .menu-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
#menu .logo {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
}

#menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#menu ul li {
    font-size: 1.6rem;
    margin-right: 3rem;
    color: var(--color-text-primary);
    margin-top: 4rem;
}
#menu ul li a {
    text-decoration: none;
}

@media(min-width: 700px) {
  
    #menu ul li {
        font-size: 1.8rem;
    }
    #menu ul li a {
        text-decoration: none;
        color: var(--color-text-primary);
    }
}
