#menu {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 2.0rem 1rem;
}


#menu .menu-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
#menu .logo {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    margin-bottom: 5%;
}

#menu .menu-links .faixa-vermelha{
    background-color: var(--color-button);
    width:108%;

}

#menu  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#menu ul li {
    font-size: 1.6rem;
    margin-right: 3rem;
    color: var(--color-text-primary);
    margin-top: 1rem;
}
#menu ul li a {
    text-decoration: none;
    color: var(--color-text-primary);
}

@media(min-width: 800px) {
  
    #menu ul li {
        font-size: 1.8rem;
    }
    #menu ul li a {
        text-decoration: none;
        color: var(--color-text-primary);
    }

    #menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2.0rem 1rem;
    }
    
    
    #menu .menu-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 100%;
    }
    #menu .logo {
        border-radius: 50%;
        width: 9rem;
        height: 9rem;
    }
    
    #menu ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    }
    
    #menu ul li {
        font-size: 1.6rem;
        margin-right: 3rem;
        color: var(--color-text-primary);
        margin-top: 4rem;
    }
    #menu ul li a {
        text-decoration: none;
    }
}
