#areaLogin {
    background-color: var(--color-background);
    height: 100vh;
    width: 100vw;
    margin:0;
    padding: 0; 
 }
 #bodyLogin {
     height: 100%;
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
     background-color: var(--color-body);
 } 
 #areaLogin #bodyLogin .form-login {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 } 
 #areaLogin #bodyLogin .borda-interna {
    height: auto;
    width: 130%;
    margin-left: -5%;
    margin-right: -5%;
    background: var(--color-text-primary);
    box-shadow: 1px 1px 2px 1px var(--color-detail);
    color: black;
 }
 #areaLogin #bodyLogin .borda-interna .conteudo {
     border: 1px solid #CCC;
     border-radius: 5px;
     margin: 5px;
 }
 #areaLogin #bodyLogin .borda-interna .conteudo #tituloPag {
    background-color: var(--color-button);
    flex: 1;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin-top: 0;
}
form {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
a{
    text-decoration: none;
}
a.links{
    display: none;
}
p{
    margin-bottom:2.5rem;
}
.conteudo p:first-child{
    margin-top:5rem;
}
label {
    color: var(--color-detail);
    position: relative;
}

input {
    outline: none;
}
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
}
/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]){
    width: 100%;
    padding: 10px;    
    border: 1px solid #b2b2b2;
   
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
/*estilo do botão submit */
input[type="submit"]{
    background: var(--color-button);
    color: var(--color-text-primary);
    font: 400 1.2rem Poppins;
    font-size: 1.4rem;
    border: 1px solid #fff;    

    padding: 8px 5px;     
    margin-bottom: 10px;  
    width: 100%!important;
    cursor: pointer;
   
    -webkit-border-radius: 5px;
    border-radius: 5px;
   
    transition: all 0.2s linear;
  }
   
  /*estilo do botão submit no hover */
  input[type="submit"]:hover{
    background: var(--color-hover-back);
  }


@media(min-width: 800px) {

#bodyLogin {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#areaLogin #bodyLogin .borda-interna {
    width: 140%;
    margin-left: -20%;
    margin-right: -20%;
}

}



