
.pesquisa {
    padding-top: 1.4rem;

}
input {
    border-radius: 4px;
    box-shadow: 1px 1px 2.5px var(--color-detail);
    border:1px solid #FFFFFF;
    width:48rem;
    height: 2.6rem;
    font-size: 1.4rem;
    color: #000000;
}
button {
    width: 4rem;
    height: 2.6rem;
    margin-left: 0.5rem;
    border-radius: 4px;
    background-color: var(--color-button);
    color: var(--color-text-primary);
    font-size: 1rem;
    border:0.5px solid #FFFFFF;
    box-shadow: 1px 1px 1px var(--color-detail);
}



@media(min-width: 700px) {

input {
    width:40rem;

}

}